.elementor-18 .elementor-element.elementor-element-8391f7a{
  margin-top:0px;
  margin-bottom:0px;
  padding:0px 0px 0px 0px;
}
.elementor-18 .elementor-element.elementor-element-4be5707 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-18 .elementor-element.elementor-element-4be5707 > .elementor-element-populated{
  margin:0px 0px 0px 0px;
  --e-column-margin-right:0px;
  --e-column-margin-left:0px;
  padding:0px 0px 0px 0px;
}
.elementor-18 .elementor-element.elementor-element-b6b53a9{
  margin-top:165px;
  margin-bottom:155px;
  padding:0px 0px 0px 0px;
}
.elementor-bc-flex-widget .elementor-18 .elementor-element.elementor-element-ec069fd.elementor-column .elementor-widget-wrap{
  align-items:center;
}
.elementor-18 .elementor-element.elementor-element-ec069fd.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
  align-content:center;
  align-items:center;
}
.elementor-18 .elementor-element.elementor-element-ec069fd.elementor-column > .elementor-widget-wrap{
  justify-content:flex-start;
}
.elementor-18 .elementor-element.elementor-element-ec069fd > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-18 .elementor-element.elementor-element-ec069fd > .elementor-element-populated{
  margin:0px 0px 0px 0px;
  --e-column-margin-right:0px;
  --e-column-margin-left:0px;
  padding:0px 115px 0px 0px;
}
.elementor-bc-flex-widget .elementor-18 .elementor-element.elementor-element-ef0be0a.elementor-column .elementor-widget-wrap{
  align-items:flex-start;
}
.elementor-18 .elementor-element.elementor-element-ef0be0a.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
  align-content:flex-start;
  align-items:flex-start;
}
.elementor-18 .elementor-element.elementor-element-ef0be0a.elementor-column > .elementor-widget-wrap{
  justify-content:flex-start;
}
.elementor-18 .elementor-element.elementor-element-ef0be0a > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-18 .elementor-element.elementor-element-ef0be0a > .elementor-element-populated{
  margin:0px 0px 0px 0px;
  --e-column-margin-right:0px;
  --e-column-margin-left:0px;
  padding:0px 0px 0px 40px;
}
.elementor-18 .elementor-element.elementor-element-e03135d > .elementor-widget-container{
  margin:-9px 0px 0px -9px;
  padding:0px 0px 0px 0px;
}
.elementor-18 .elementor-element.elementor-element-e03135d{
  width:var( --container-widget-width, 98% );
  max-width:98%;
  --container-widget-width:98%;
  --container-widget-flex-grow:0;
}
.elementor-18 .elementor-element.elementor-element-4ab9b2c{
  margin-top:0px;
  margin-bottom:0px;
  padding:0px 60px 0px 60px;
}
.elementor-bc-flex-widget .elementor-18 .elementor-element.elementor-element-3d37cd4.elementor-column .elementor-widget-wrap{
  align-items:flex-start;
}
.elementor-18 .elementor-element.elementor-element-3d37cd4.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
  align-content:flex-start;
  align-items:flex-start;
}
.elementor-18 .elementor-element.elementor-element-3d37cd4.elementor-column > .elementor-widget-wrap{
  justify-content:flex-start;
}
.elementor-18 .elementor-element.elementor-element-3d37cd4 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-18 .elementor-element.elementor-element-3d37cd4 > .elementor-element-populated{
  margin:0px 0px 0px 0px;
  --e-column-margin-right:0px;
  --e-column-margin-left:0px;
  padding:0px 0px 0px 0px;
}
.elementor-18 .elementor-element.elementor-element-23acbe5{
  margin-top:150px;
  margin-bottom:130px;
  padding:0px 0px 0px 0px;
}
.elementor-bc-flex-widget .elementor-18 .elementor-element.elementor-element-f0939b9.elementor-column .elementor-widget-wrap{
  align-items:flex-start;
}
.elementor-18 .elementor-element.elementor-element-f0939b9.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
  align-content:flex-start;
  align-items:flex-start;
}
.elementor-18 .elementor-element.elementor-element-f0939b9.elementor-column > .elementor-widget-wrap{
  justify-content:flex-start;
}
.elementor-18 .elementor-element.elementor-element-f0939b9 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-18 .elementor-element.elementor-element-f0939b9 > .elementor-element-populated{
  margin:0px 0px 0px 0px;
  --e-column-margin-right:0px;
  --e-column-margin-left:0px;
  padding:0px 0px 0px 0px;
}
.elementor-18 .elementor-element.elementor-element-87ae529 > .elementor-widget-container{
  margin:-9px 0px 66px -9px;
  padding:0px 0px 0px 0px;
}
.elementor-18 .elementor-element.elementor-element-87ae529{
  width:var( --container-widget-width, 48% );
  max-width:48%;
  --container-widget-width:48%;
  --container-widget-flex-grow:0;
}
.elementor-18 .elementor-element.elementor-element-7e4563b{
  margin-top:0px;
  margin-bottom:153px;
  padding:0px 0px 0px 0px;
}
.elementor-bc-flex-widget .elementor-18 .elementor-element.elementor-element-a819fe7.elementor-column .elementor-widget-wrap{
  align-items:center;
}
.elementor-18 .elementor-element.elementor-element-a819fe7.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
  align-content:center;
  align-items:center;
}
.elementor-18 .elementor-element.elementor-element-a819fe7.elementor-column > .elementor-widget-wrap{
  justify-content:center;
}
.elementor-18 .elementor-element.elementor-element-a819fe7 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-18 .elementor-element.elementor-element-a819fe7 > .elementor-element-populated{
  margin:0px 0px 0px 0px;
  --e-column-margin-right:0px;
  --e-column-margin-left:0px;
  padding:0px 0px 0px 0px;
}
.elementor-18 .elementor-element.elementor-element-f24c1ed > .elementor-widget-container{
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
}
.elementor-18 .elementor-element.elementor-element-393546b > .elementor-container{
  max-width:735px;
}
.elementor-18 .elementor-element.elementor-element-393546b{
  margin-top:0px;
  margin-bottom:0px;
  padding:0px 0px 0px 0px;
}
.elementor-18 .elementor-element.elementor-element-59b6796 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-18 .elementor-element.elementor-element-59b6796 > .elementor-element-populated{
  margin:0rem 0rem 0rem 0rem;
  --e-column-margin-right:0rem;
  --e-column-margin-left:0rem;
  padding:0px 0px 0px 0px;
}
.elementor-18 .elementor-element.elementor-element-31da546{
  margin-top:161px;
  margin-bottom:66px;
  padding:0px 0px 0px 0px;
}
.elementor-bc-flex-widget .elementor-18 .elementor-element.elementor-element-4910182.elementor-column .elementor-widget-wrap{
  align-items:flex-start;
}
.elementor-18 .elementor-element.elementor-element-4910182.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
  align-content:flex-start;
  align-items:flex-start;
}
.elementor-18 .elementor-element.elementor-element-4910182.elementor-column > .elementor-widget-wrap{
  justify-content:flex-end;
}
.elementor-18 .elementor-element.elementor-element-4910182 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-18 .elementor-element.elementor-element-4910182 > .elementor-element-populated{
  margin:0px 0px 0px 0px;
  --e-column-margin-right:0px;
  --e-column-margin-left:0px;
  padding:0px 0px 0px 0px;
}
.elementor-18 .elementor-element.elementor-element-9587bfd > .elementor-widget-container{
  margin:-9px -9px 0px 0px;
  padding:0px 0px 0px 0px;
}
.elementor-18 .elementor-element.elementor-element-acc6962{
  margin-top:0px;
  margin-bottom:137px;
  padding:0px 0px 0px 0px;
}
.elementor-18 .elementor-element.elementor-element-191fef2 > .elementor-element-populated{
  margin:0px 0px 0px 0px;
  --e-column-margin-right:0px;
  --e-column-margin-left:0px;
  padding:0px 0px 0px 0px;
}
.elementor-18 .elementor-element.elementor-element-5b839e3{
  margin-top:0px;
  margin-bottom:45px;
  padding:0px 0px 0px 0px;
}
.elementor-18 .elementor-element.elementor-element-f0a9b39 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-18 .elementor-element.elementor-element-f0a9b39 > .elementor-element-populated{
  margin:0px 0px 0px 0px;
  --e-column-margin-right:0px;
  --e-column-margin-left:0px;
  padding:0px 25px 0px 0px;
}
.elementor-18 .elementor-element.elementor-element-a7162ad > .elementor-widget-container{
  margin:-8px 0px 0px -9px;
  padding:0px 0px 0px 0px;
}
.elementor-bc-flex-widget .elementor-18 .elementor-element.elementor-element-30e0719.elementor-column .elementor-widget-wrap{
  align-items:flex-end;
}
.elementor-18 .elementor-element.elementor-element-30e0719.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
  align-content:flex-end;
  align-items:flex-end;
}
.elementor-18 .elementor-element.elementor-element-30e0719.elementor-column > .elementor-widget-wrap{
  justify-content:flex-start;
}
.elementor-18 .elementor-element.elementor-element-30e0719 > .elementor-element-populated{
  margin:0px 0px 0px 0px;
  --e-column-margin-right:0px;
  --e-column-margin-left:0px;
  padding:0px 0px 0px 25px;
}
.elementor-18 .elementor-element.elementor-element-cedab73 > .elementor-widget-container{
  margin:0px 0px 14px 0px;
  padding:0px 0px 0px 0px;
}
.elementor-18 .elementor-element.elementor-element-f38ffc0{
  margin-top:0px;
  margin-bottom:149px;
  padding:0px 60px 0px 60px;
}
.elementor-bc-flex-widget .elementor-18 .elementor-element.elementor-element-ab755cb.elementor-column .elementor-widget-wrap{
  align-items:center;
}
.elementor-18 .elementor-element.elementor-element-ab755cb.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
  align-content:center;
  align-items:center;
}
.elementor-18 .elementor-element.elementor-element-ab755cb.elementor-column > .elementor-widget-wrap{
  justify-content:center;
}
.elementor-18 .elementor-element.elementor-element-ab755cb > .elementor-element-populated{
  margin:0px 0px 0px 0px;
  --e-column-margin-right:0px;
  --e-column-margin-left:0px;
  padding:0px 0px 0px 0px;
}
@media(max-width:1440px) and (min-width:768px){
  .elementor-18 .elementor-element.elementor-element-f0a9b39{
      width:46%;
  }
}
@media(max-width:1440px){
  .elementor-18 .elementor-element.elementor-element-ec069fd > .elementor-element-populated{
      margin:0px 0px 0px 0px;
      --e-column-margin-right:0px;
      --e-column-margin-left:0px;
      padding:0% 15% 0% 0%;
  }
  .elementor-18 .elementor-element.elementor-element-87ae529{
      --container-widget-width:57%;
      --container-widget-flex-grow:0;
      width:var( --container-widget-width, 57% );
      max-width:57%;
  }
  .elementor-18 .elementor-element.elementor-element-f24c1ed > .elementor-widget-container{
      margin:0px 0px 0px 0px;
  }
  .elementor-18 .elementor-element.elementor-element-393546b > .elementor-container{
      max-width:535px;
  }
}
@media(max-width:1024px){
  .elementor-18 .elementor-element.elementor-element-b6b53a9{
      margin-top:150px;
      margin-bottom:100px;
      padding:0px 0px 0px 0px;
  }
  .elementor-bc-flex-widget .elementor-18 .elementor-element.elementor-element-ec069fd.elementor-column .elementor-widget-wrap{
      align-items:center;
  }
  .elementor-18 .elementor-element.elementor-element-ec069fd.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
      align-content:center;
      align-items:center;
  }
  .elementor-18 .elementor-element.elementor-element-ec069fd.elementor-column > .elementor-widget-wrap{
      justify-content:flex-start;
  }
  .elementor-18 .elementor-element.elementor-element-ec069fd > .elementor-element-populated{
      padding:0% 0% 0% 0%;
  }
  .elementor-18 .elementor-element.elementor-element-c917909{
      width:auto;
      max-width:auto;
  }
  .elementor-18 .elementor-element.elementor-element-ef0be0a > .elementor-element-populated{
      margin:54px 0px 0px 0px;
      --e-column-margin-right:0px;
      --e-column-margin-left:0px;
      padding:0px 0px 0px 0px;
  }
  .elementor-18 .elementor-element.elementor-element-e03135d > .elementor-widget-container{
      margin:-8px 0px 0px -9px;
      padding:0px 0px 0px 0px;
  }
  .elementor-18 .elementor-element.elementor-element-4ab9b2c{
      padding:0% 7% 0% 7%;
  }
  .elementor-18 .elementor-element.elementor-element-87ae529{
      --container-widget-width:100%;
      --container-widget-flex-grow:0;
      width:var( --container-widget-width, 100% );
      max-width:100%;
  }
  .elementor-18 .elementor-element.elementor-element-f24c1ed > .elementor-widget-container{
      margin:0px 0px 0px 0px;
  }
  .elementor-18 .elementor-element.elementor-element-393546b > .elementor-container{
      max-width:400px;
  }
  .elementor-18 .elementor-element.elementor-element-f0a9b39 > .elementor-element-populated{
      padding:0px 0px 0px 0px;
  }
  .elementor-18 .elementor-element.elementor-element-a7162ad{
      width:var( --container-widget-width, 80% );
      max-width:80%;
      --container-widget-width:80%;
      --container-widget-flex-grow:0;
  }
  .elementor-18 .elementor-element.elementor-element-30e0719 > .elementor-element-populated{
      margin:54px 0px 0px 0px;
      --e-column-margin-right:0px;
      --e-column-margin-left:0px;
      padding:0px 0px 0px 0px;
  }
  .elementor-18 .elementor-element.elementor-element-f38ffc0{
      padding:0% 7% 0% 7%;
  }
}
@media(max-width:767px){
  .elementor-18 .elementor-element.elementor-element-e03135d > .elementor-widget-container{
      margin:-8px 0px 0px -9px;
  }
  .elementor-18 .elementor-element.elementor-element-e03135d{
      width:100%;
      max-width:100%;
  }
  .elementor-18 .elementor-element.elementor-element-4ab9b2c{
      padding:0px 27px 0px 27px;
  }
  .elementor-18 .elementor-element.elementor-element-393546b > .elementor-container{
      max-width:500px;
  }
}
@media(min-width:768px){
  .elementor-18 .elementor-element.elementor-element-ec069fd{
      width:50%;
  }
  .elementor-18 .elementor-element.elementor-element-ef0be0a{
      width:50%;
  }
  .elementor-18 .elementor-element.elementor-element-f0a9b39{
      width:36%;
  }
  .elementor-18 .elementor-element.elementor-element-30e0719{
      width:64%;
  }
}
@media(max-width:1024px) and (min-width:768px){
  .elementor-18 .elementor-element.elementor-element-ec069fd{
      width:100%;
  }
  .elementor-18 .elementor-element.elementor-element-ef0be0a{
      width:100%;
  }
  .elementor-18 .elementor-element.elementor-element-f0a9b39{
      width:100%;
  }
  .elementor-18 .elementor-element.elementor-element-30e0719{
      width:100%;
  }
}
